@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.list::-webkit-scrollbar {
	width: 5px; /* Lebar scrollbar */
}

.list::-webkit-scrollbar-thumb {
	background-color: #888; /* Warna latar belakang thumb */
	border-radius: 60px; /* Radius sudut thumb */
}

.list::-webkit-scrollbar-track {
	/* background-color: #f1f1f1; Warna latar belakang track */
    display: 'none'
}
